/* le select par theme aura un margin-bottom de 20px */
.innovators-select-theme{
    margin-bottom: 20px;
  
}
/* les deux select (theme et pays) auront des border,des border et une height spécifiques*/
#innovators-header select{
    margin-top:30px;
    border:2px solid #008080;
    height: 40px;
}



/* c'est pour donner la forme ronde au images' */
#innovators-body img{
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 1px solid white;
}


#innovators-body .row div{
    margin-bottom: 0px;
}


#innovators-body img:hover {
    
	border: 10px solid #008080;
        transition: 0.5s;
}

#innovators-body img {
    margin: 20px;
}

.boutton-innovators-body{
    margin-left:0;
}

div.col-lg-4.col-sm-6.text-center.mb-4{
    margin-bottom: 20px;
    height: 350px;
}



#innovators-body  h3, #innovators-body  h2 {
    padding-bottom: 20px;
}



.product-content-short {
    padding-bottom: 50px;
}

section#innovators-body>img{
   margin:10px;
}

.img-thumbnail{
    border: 0;
}

#hidden{
    display: none;
    margin: 0 auto;
}




/******************************************************************************************************/
/*lorsque la taille de l'écran dépasse 700 px, le margin-top aura la valeur 0 */
@media screen and ( min-width: 700px ) {
  h3 {
     margin-top:0;
  }
}