/* le select par theme aura un margin-bottom de 20px */
.innovators-select-theme{
    margin-bottom: 20px;
  
}
/* les deux select (theme et pays) auront des border,des border et une height spécifiques*/
select{
    margin-top:30px;
    border:2px solid #008080;
    height: 40px;
}


.boutton-innovators-body{
    margin-left:0;
}














/*lorsque la taille de l'écran dépasse 700 px, le margin-top aura la valeur 0 */
@media screen and ( min-width: 700px ) {
  h3 {
     margin-top:0;
  }
}