.centered-form{
	margin-top: 60px;
}

input[type="submit"] {
    background-color: #008080;
}

.log-in{
    display: none;
}


form{
    padding-bottom: 15px;
}
section.container {
    margin-bottom: 20px;
}

footer{
    margin: 0;
}

.panel-conteneur{
    height: 500px;
}