
/****LEFT NAV*****/

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  border: 0;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-inverse{
    background-color: #139696;
    
    
}

#leftside{
    background-color: #008080;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
    padding: 0;
    font-size: 15px;
}

/****TOP NAV*****/
#left-menu{
    padding-top: 100px;
}

img{
    padding-right: 25px;
    padding-left: 10px;
}

.navbar-fixed-top{
    border: 0;
    -webkit-box-shadow: -1px 10px 22px -3px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 10px 22px -3px rgba(0,0,0,0.31);
    box-shadow: -1px 10px 22px -3px rgba(0,0,0,0.31);
    
}

.li-nav{
    margin-top: 25px;
    color: white;
    padding-left: 10px;
}

.li-left{
    padding-bottom: 20px;
    padding-left: 10px;
}

/****FORM******/

form {
    margin: 40px 0;
}

/****TABLE******/
.table-listing{
    margin-top: 100px;
}
/***MAP****/

path {
   fill: #008080;
}

path:hover {
    fill: #004f4f;
    cursor: pointer;
    transition: 0.9s;
}


/********STAT*********/

.asset {
    padding: 1px;
    border: 1px solid #EEEEEE;
    background-color: white;
    border-radius: 5px;
    background-color: #FAFAFA;
}

#calendar{
    padding: 20px;
}

a:hover{
    background-color: white;
}
