{% extends "layout.html.twig" %}

{% block stylesheet %}
         {{ parent() }}   
         <link rel="stylesheet" href="{{ asset("css/services/services.css") }}"/>
{% endblock %}

{% block content %}
    <main>
        <section id="service-main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center service-profil-title">
                        <h1>{{ "Nos services"|upper }}</h1>
                        <span id="service-subtitle">Selon votre profil</span>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                        <a href="btn btn-default" role="button" class="service-profil-button">Start-up</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                        <a href="btn btn-default" role="button" class="service-profil-button">Entreprise africaine</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                        <a href="btn btn-default" role="button" class="service-profil-button">Entreprise étrangère</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                        <a href="btn btn-default" role="button" class="service-profil-button">Investisseur</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="service-main-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 main-body-content">
                        <p id="service-content-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien dui, viverra et auctor at, finibus venenatis dui. Proin neque nibh, lobortis sed ornare eget, pretium at sapien. Duis aliquam libero non risus dapibus rutrum. Nam quis massa vel purus tempus varius.</p>

                        <p>Nunc non imperdiet eros. Proin nec augue erat. Etiam vel augue lacinia, interdum neque eget, iaculis est. Etiam sit amet laoreet metus. Cras augue mi, ornare in dignissim tristique, mollis nec massa. Curabitur arcu tellus, cursus vel mauris id, consequat mollis mi. Mauris ex tellus, suscipit sed luctus a, pretium eget ex. Nulla varius leo felis, id scelerisque orci maximus vitae. Aenean neque nisi, scelerisque sed velit ac, maximus molestie lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        <p>Donec fringilla auctor sollicitudin. Nunc ac nibh ex. Fusce rutrum at libero non lobortis. Sed est turpis, bibendum lacinia iaculis et, volutpat tempor massa. Suspendisse vitae felis in lectus congue rutrum. Praesent mattis ipsum sed sollicitudin aliquam. Suspendisse potenti.</p>

                        <p>Ut cursus, neque ac rhoncus vulputate, nisi nulla dictum urna, et varius mi nisi vitae augue. Vivamus lobortis commodo nibh, eu posuere dolor vulputate quis. Quisque in efficitur purus. Vestibulum ut molestie purus. Vestibulum ullamcorper convallis dolor, eu tincidunt arcu. Ut pellentesque sagittis eros non viverra. Sed molestie odio sit amet vehicula volutpat. Suspendisse vitae lorem maximus, volutpat nisl eget, dapibus nulla.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="service-main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center col-lg-offset-3">
                        <a href="btn btn-default" role="button" class="service-link-button">Nos clients</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
                        <a href="btn btn-default" role="button" class="service-link-button">Nos innovateurs</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 text-center">
                        <a href="btn btn-default" role="button" class="service-contact-button">Nous contacter</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
