{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/profil/profil.css") }}"/>
{% endblock %}

{% block content %}
    <main id="about-content" class="container">
        <section class="row">
            <div class="col-xs-12 text-center">
                <h1>{{ "Espace membre"|upper }}</h1>
            </div>
        </section>
        
            </div>
        </section>
    </main>
    <div id="team-layer">
        
    </div>
{% endblock %}
