{% for product in products %}
    <div class="row product-row">                    


       <div class="col-sm-6">
         <a href="#">
           <img class="img-thumbnail" src="{{ asset(product.picture) }}" alt="">
         </a>
       </div>                    
       <div class="col-sm-6">
         <h2 class="product-name">{{ product.name }}</h2>
         <div class="product-content-short">{{ product.summary|raw }}</div>
         <div class="product-content hidden">{{ product.description|raw }}</div>

           {#Launch modal with the button above #}
         <button class="btn btn-primary boutton-products-body" data-toggle="modal" data-target="#myModal">Détail produit</button>
       </div>


    </div><hr><br><br>
{% endfor %}