/**css map***/

path{
   fill: #008080;
}

path:hover {
    fill: #004f4f;
    cursor: pointer;
    transition: 0.9s;
}

/********MAP INFO******/

.info{
    font-family: 'Roboto'; 
    padding-top: 30px;
}

.info > h5{
    font-weight: bold;
    font-size: 1.5em;
}

#country_name {
    height: 40px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
}

h3{
    font-weight: bold;
    margin: 0;
}

.info button {
    display: none;
    margin-bottom: 5px;
}

/**deuxieme section**/

#section2 {
  background-color: #F5F5F5;  
}

.assets {
    padding: 20px;
    border: 1px solid #EEEEEE;
    background-color: white;
    border-radius: 2px;
}

#trio {
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
    
}

#trio > h2 {
    padding : 50px;
    font-weight: bold;
}

#section2 i {
    color: #008080;
    padding: 10px;
}


@media (max-width: 991px){
    .assets{
        margin: 20px;
    }  
    
    #container {
        text-align: right;
        margin-top: 40px;
    }
}

/**LAST SECTION***/


              