footer{
    background: #222222;
    color: white;
}

.navbar-inverse{
    background: #008080;
    border: 0;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}

p{
    font-family: 'Open Sans';
}
  
