{% extends "layout.html.twig" %}

{% block content %}

   <main>
        <section id="innovators-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1> Innovateurs </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-center">
                        <select style="width:300px;">
                            <option>Theme</option>
                            <option>Education</option>
                            <option>Santé</option>
                            <option>Assurance</option>
                            <option>Comptabilité</option>
                            <option>Numérisation GED</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center">
                        <select class="col-xs-12">
                         {% for country in countries %}
                            <option>{{ country.country_name }}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section><br><br>
            
            
        <section id="innovators-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <h2 class="my-4">Our Innovators</h2>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <img class="img1" src="http://placehold.it/200x200" alt="">
                            <h3>John Smith
                              <small>Job Title</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                </div>
            </div>
        </section><br>
    </main>
    
    
{% endblock %}
