{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/clients/clients.css") }}"/>

{% endblock %}

{% block content %}

   <main>
        <section id="clients-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1> NOS CLIENTS </h1>
                    </div>
                </div>
                <div class="row all-select-clients">
                    <div class="col-xs-12 col-sm-6 clients-select-theme">
                        <select class="col-xs-12">
                            <option>Theme</option>
                            <option>Education</option>
                            <option>Santé</option>
                            <option>Assurance</option>
                            <option>Comptabilité</option>
                            <option>Numérisation GED</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center">
                        <select class="col-xs-12">
                         {% for country in countries %}
                            <option>{{ country.country_name }}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </section><br><br>
            
            
        <section id="clients-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <a href="#">
                            <div class="test">
                                <img src="http://placehold.it/200x200" alt="">
                            </div>
                                                       
                            <h3>Entreprise
                              <small>Responsable</small>
                            </h3>
                            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                        </a>
                    </div>
                </div>
            </div>
        </section><br>
    </main>
    
    
{% endblock %}
