/* les deux select (theme et pays) auront des border,des border et une height spécifiques*/
select{
    margin-top:30px;
    border:2px solid #008080;
    height: 40px;
}


/* c'est pour donner la forme ronde au images' */
#clients-body img{
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 1px solid white;
}


#clients-body .row div{
    margin-bottom: 40px;
}


#clients-body img:hover {
    
	border: 1px solid #008080;
}