
/*********  G E N E R A L  *******/

#trio h4 {
  padding: 20px;
}

/*********  M A P  **********/

#container {
  text-align: right;
}

path {
  fill: #008080;
}

path:hover {
  fill: #004f4f;
  cursor: pointer;
  transition: 0.9s;
}

/******** M A P  I N F O  ******/

.info {
  font-family: 'Roboto'; 
  padding-top: 30px;
}

.info > h5 {
  font-weight: bold;
  font-size: 1.5em;
}

#country_name {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

h3 {
  font-weight: bold;
  margin: 0;
}

.info button {
  display: none;
  margin-bottom: 5px;
}

/**deuxieme section**/

#index-info {
  background-color: #F5F5F5;  
}

.assets {
  padding: 20px;
  border: 1px solid #EEEEEE;
  background-color: white;
  border-radius: 2px;
}

.assets {
  margin: 20px;
}  

#trio {
  padding: 20px;
  text-align: center;
  padding-bottom: 50px;
}

#trio > h2 {
  padding : 50px;
  font-weight: bold;
}

#index-info i {
  color: #008080;
  padding: 10px;
}


/************************* carousel  ***************************/


.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

#product-carousel {
  padding: 40px;
}

#product-carousel h2 {
  padding : 50px;
  font-weight: bold;
}


#index-carousel {
  margin-top: 40px;   
}

#product-carousel-container {
  display: inline-block;
  width: 90%;
}

figcaption {
  position: relative;
  top: -32px;
  background: rgba(0, 128, 128, 0.65);
  color: white;
  padding: 5px 0;
}

figcaption span{
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

#myCarousel a {
  display: inline-block;
}


/********  M E D I A   Q U E R I E S  ***********/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {



}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .assets {
    margin: 0;
  }

  #container {
    text-align: left;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

