#contact {
  margin-top: 40px;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}

.information-contact div{
    padding: 10px;
}

.information-contact, form {
  padding: 20px;
}

i {
  width: 30px;
}

iframe {
  margin-top: 20px;
}
