p{
    margin: 25px;
    text-indent: 25px;
}

h1{
    color: #008080;
    text-align: center;
}

h2{
    color: #008080;
    margin: 50px 0 25px 0;
    font-size: 1.5em;
    font-weight: normal;
}

main{
    margin-bottom: 50px;
}

a{
  color: #008080;
}