h1 {
    position: absolute;
    top: calc(-50vh - 100px);
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    letter-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

#service-main-header div, #service-main-footer div {
    transition: 0.4s;
}

#service-main-header, #service-main-footer {
    padding: 20px 0px;
}

#service-subtitle {
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: 1px;
    color: #444;
    opacity: 0.7;
}

#service-content {
  padding: 20px 0;
  text-align: justify;
}

#service-content p {
  padding: 10px;
}

.service-profil-button, .service-link-button, .service-contact-button {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border: 2px solid rgba(34, 34, 34, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #222222;
    transition: 0.4s;
}



.service-link-button:hover, .service-profil-button:hover {
    border: 2px solid rgba(0, 128, 128, 0.7);
    color: rgba(0, 128, 128, 1);
}

.service-contact-button {
    background-color: rgba(0, 128, 128, 1);
    color: #ffffff;
    border: 2px solid rgba(0, 128, 128, 0.7);
}

.service-contact-button:hover {
    background-color: #ffffff;
    color: rgba(0, 128, 128, 1);
}

#service-header {
    font-weight: bold;
}

@media only screen and (min-width : 768px) {
    h1 {
        font-size: 3.4em;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width : 992px) {
    h1 {
        font-size: 4em;
        letter-spacing: 8px;
    }
    
    #service-content {
      padding: 20px 50px;
    }
}

@media only screen and (min-width : 1200px){
    .service-contact-button {
        width: 50%;
    }
    
    #service-content {
      padding: 20px 75px;
    }
}
