{% for product in products %}
    <div class="row product-row">    
       <div class="col-sm-4">
         <a href="#">
           <img class="img-thumbnail" src="{{ asset(product.picture) }}" alt="">
         </a>
       </div>                    
       <div class="col-sm-8">
         <h2 class="product-name">{{ product.name }}</h2>
         <div class="product-content-short">{{ product.summary|raw }}</div>
         <div class="product-content hidden">{{ product.description|raw }}</div>
         <button class="btn btn-primary overlay-button">Détail produit</button>
       </div>
    </div><hr>
{% endfor %}
